@import url("https://saltssaumure.github.io/xp-discord-theme/xp.min.css");
:root
{
    --background-image: url(https://oceanblade95.github.io/Images/boat.png);  /* Background image. Values: any image link encased in url(). */
    --bsod-color: #000;  /* BSOD background colour. Values: any valid keyword/RGBA/hex etc. colour. */
}

.theme-dark {
    --xp-bg-color: #000;
    --xp-bg-bright-color: #234;
    --xp-bg-tint-color: #222;
    --xp-bg-shade-color: #111;
    --xp-txt-color: #FFF;
    --xp-border-color: #1665CA;
    --xp-set-color: #FFFFFFB3;
    --xp-hover-color: #123;
    --xp-zing-color: #A50;

    /* Background Color */
    --background-primary: #000;
    
}
.theme-light {
    --xp-bg-color: #d0e7fe;
    --xp-bg-bright-color: #F0EFED;
    --xp-bg-tint-color: #EBE8D7;
    --xp-bg-shade-color: #808080;
    --xp-txt-color: #000;
    --xp-border-color: #000;
    --xp-set-color: #000000B3;
    --xp-hover-color: #D3D3D3;
    --xp-zing-color: #FFA500;
/* Background Color */
     --background-primary: #d0e7fe;
}
